{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}

{% block body %}

    <br><br><br><br>
        <div class="container">
            <div class="row text-center">
                <h1 class="col-12">Les projets en cours</h1>
            </div>
            {% for projet in projetsClients %}
                <div class="row">
                    <div class="projet col-8">
                        <h4>Projet numero : {{ projet.id }}</h4>
                        <h6>Numéro de dossier :{{ projet.Dossier }}</h6>

                    </div>
                    <div class="col-4">
                        <a href="{{ path('projetClient_show',{'id' : projet.id }) }}" class=""><button class="btn btn-dark">VOIR</button></a>
{#                        <a href="{{ path('projet_delete',{'id' : projet.id }) }}" class=""><button class="btn btn-danger">SUPPRIMER</button></a>#}

                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
{% endblock %}
