{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Im Memoriae - Votre Projet
    {% endspaceless %}
{% endblock %}
{% block seoDescription %}
    {% spaceless %}
        Votre film hommage commence ici
    {% endspaceless %}
{% endblock %}
{% block body %}


    <section class="title">
        {% include 'common/flash_messages.html.twig' %}
        <h1>CLIENT ENREGISTRÉ</h1>
        <hr>
        <h2>Transmettez bien le code généré au client</h2>
    </section>

    <div class="container mt-5 mb-5">
        <h2> NOM CLIENT : {{ infosBerthelot.nomClient }}</h2>
        <h2> EMAIL CLIENT : {{ infosBerthelot.emailClient }}</h2>
        <h2> CODE CLIENT : <strong>{{ infosBerthelot.code }}</strong></h2>
        <br><br><br><br>
    </div>

{% endblock %}