{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet Berthelot
    {% endspaceless %}
{% endblock %}

{% block body %}



    {% include 'common/flash_messages.html.twig' %}

    <section class="title">
        <h1>NOUVELLE COMMANDE BERTHELOT</h1>
        <hr>
    </section>

    <div class="container">
        {{ form_start(formBerthelot) }}
        {{ form_widget(formBerthelot) }}
        {{ form_end(formBerthelot) }}
    </div>



{% endblock %}