{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Im Memoriae - Votre Projet
    {% endspaceless %}
{% endblock %}
{% block seoDescription %}
    {% spaceless %}
        Votre film hommage commence ici
    {% endspaceless %}
{% endblock %}
{% block body %}

    <section class="title">
        {% include 'common/flash_messages.html.twig' %}
        <h1>VOTRE PROJET</h1>
        <hr>
        <h2>Identifiez-vous afin d'acceder à votre projet</h2>
    </section>


    <div class="container mt-5 mb-5">
            {{ form(search_form) }}
        <br><br><br><br>
    </div>

{% endblock %}