{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Im Memoriae - Votre Projet
    {% endspaceless %}
{% endblock %}
{% block seoDescription %}
    {% spaceless %}
        Votre film hommage commence ici
    {% endspaceless %}
{% endblock %}
{% block body %}

    <section class="title">
        {% include 'common/flash_messages.html.twig' %}
        <h1>VOTRE PROJET</h1>
        <hr>
        <h2>Votre film hommage commence ici</h2>
    </section>


    <div class="container">
            {{ form(search_form) }}
    </div>

{% endblock %}