{% block body %}



    {# ------------------------ UPLOADS PHOTOS ------------------#}
    <div class="tab">
        <h2>Ajoutez vos images avec une courte description :</h2>
        <div class="progress mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <div class="row">

            {# -////////----------------------- IMAGE A LA UNE DISPLAY JS #display-title -----------------/////////-#}

            <h2 class="col-12" id="display-title1">Choisissez la première photo. Celle qui ouvrira le film.</h2>
            <h2 class="col-12" id="display-title2">Choisissez les autres photos.</h2>
            <h5 class="col-12"><strong>{% set count = 0 %}
                    {% for anchor in count %}
                        {% if anchor.content['#paragraph'].field_anchor_link.0.value %}
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}



                    <span id="nbPhotos">0 </span>
                    / {%  if categorie.id == 1   %} 20 {% else %} 30 {% endif %}</strong> photos envoyées</h5>

            <p class="col-12 text-center ">Les photos ne doivent pas dépasser 5 Mo</p>

            <div class="col-lg-6 col-sm-12">
                <div action="/file-upload" class="dropzone demo-droppable"  id="dzPhoto">
                    <div class="fallback">
                        <div class="">
                            <ion-icon name="cloud-upload">w</ion-icon>
                            <p>Glissez-déposez un fichier ou cliquez pour rechercher un fichier </p>
                        </div>
                        <div class="output"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-sm-5 mt-lg-0">
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9.5" placeholder="Ajoutez une courte description..." ></textarea>
                    {#                <input type="hidden" id="projetId" value=""/>#}
                </div>
            </div>
        </div>
        <br>

        {% if categorie.id == 1 %}
            {% if count < 20 %}
                <button type="button" class="btn btn-block btn-primary mt-5 hide-title"  id="envoieFichier">Valider et ajouter une autre photo</button>
            {% elseif count == 1 %}
                <p>Toutes vos photos sont bien enregistrées, vous pouvez passer à la suite.</p>
            {% endif %}
        {% endif %}

        {% if categorie.id == 2 %}
            {% if count < 30 %}
                <button type="button" class="btn btn-block btn-primary mt-5 hide-title"  id="envoieFichier">Valider et ajouter une autre photo</button>
            {% elseif count == 30 %}
                <p>Toutes vos photos sont bien enregistrées, vous pouvez passer à la suite.</p>
            {% endif %}
        {% endif %}

        <br>
    </div>

    {# ------------------------ UPLOADS VIDEOS ------------------#}
    <div class="tab">
        <h2>Ajoutez vos vidéos avec une courte description :</h2>
        <div class="progress mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <h5 class="col-12"><strong> {#app.session.get('nbVideos')#} <span id="nbVideos">0</span> / {%  if categorie.id == 1   %} 4 {% else %} 5 {% endif %}</strong> vidéos envoyées</h5>
        <p class="col-12 text-center">Les vidéos ne doivent pas dépasser 25 Mo.</p>
        <p class="col-12 text-center">Le chargement peut prendre du temps en fonction de votre connexion internet. Privilégiez une connexion haut débit (en wifi) pour le transfert des fichiers</p>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div action="/file-upload" class="dropzone demo-droppable" id="dzVideo">
                    <div class="fallback">
                        <div class="demo-droppable">
                            <ion-icon name="cloud-upload"></ion-icon>
                            <p>Glissez-déposez un fichier ou cliquez pour rechercher un fichier</p>
                        </div>
                        <div class="output"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-sm-5 mt-lg-0">
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="9" placeholder="Ajoutez une courte description..." ></textarea>
                </div>
            </div>
        </div>
        {% if categorie.id == 1 %}
            {% if count < 4 %}
                <button type="button" class="btn btn-block btn-primary mt-5"  id="envoieFichierVideo">Valider et ajouter une autre vidéo</button>
            {% elseif count == 5 %}
                <p>Toutes vos photos sont bien enregistrées, vous pouvez passer à la suite.</p>
            {% endif %}

        {% endif %}
        {% if categorie.id == 2 %}
            {% if count < 5 %}
                <button type="button" class="btn btn-block btn-primary mt-5"  id="envoieFichierVideo">Valider et ajouter une autre vidéo</button>
            {% elseif count == 5 %}
                <p>Toutes vos photos sont bien enregistrées, vous pouvez passer à la suite.</p>
            {% endif %}
        {% endif %}


        <br>
        {# <input type="submit" class="btn btn-block btn-primary" value="Ajouter un fichier" />#}
    </div>
{% endblock body %}
{% block javascripts %}
    <script>
        nbPhotos=0;
        nbVideos=0;
        $("#nbPhotos").html(nbPhotos);
        $("#nbVideos").html(nbVideos);

        Dropzone.autoDiscover = false;//autoProcessQueue: false, pour plusieurs fichier à la fois
        var dropzone_default = new Dropzone("#dzPhoto", {
            url: '{{ path('fileuploadhandler') }}', autoProcessQueue: false,
            maxFiles: 20,   dictDefaultMessage: "Glissez-déposez une photo ou cliquez pour rechercher un fichier.",
            dictMaxFilesExceeded: '20 photos maximum',   acceptedFiles: 'image/*',         maxFilesize: 10,addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function (file) {    this.removeFile(file);});
                this.on("sending", function (file, xhr, formData) {
                    formData.append("commentaire", $.trim($("#exampleFormControlTextarea1").val()));
                    formData.append("typeUpload", 1);
                    formData.append("projetId", $.trim($("#projetId").val()));
                });
                this.on("success", function (file, response) {
                    nbPhotos++;
                    $("#nbPhotos").html(nbPhotos);
                    this.removeAllFiles(true);

                    if (response.uploaded)
                        alert('Fichier envoyé: ' + response.fileName);

                        //return $count = fileCount();
                });
            }
        });
        var dropzone_video = new Dropzone("#dzVideo", {
            url: '{{ path('fileuploadhandler') }}', autoProcessQueue: false,
            maxFiles: 5,//50
            dictDefaultMessage: "Glissez-déposez une vidéo ou cliquez pour rechercher un fichier.",
            dictMaxFilesExceeded: '5 vidéos maximum',
            acceptedFiles: 'video/*',
            maxFilesize: 30,  // en Mo
            addRemoveLinks: true,
            init: function () {
                this.on("maxfilesexceeded", function (file) {
                    this.removeFile(file);
                });
                this.on("sending", function (file, xhr, formData) {
                    formData.append("commentaire", $.trim($("#exampleFormControlTextarea2").val()));
                    formData.append("typeUpload", 2);
                    formData.append("projetId", $.trim($("#projetId").val()));
                });
                this.on("success", function (file, response) {
                    nbVideos++;
                    $("#nbVideos").html(nbVideos);
                    this.removeAllFiles(true);
                    if (response.uploaded)
                        alert('Fichier envoyé: ' + response.fileName);
                });
            }
        });
        $("#envoieFichier").click(function (e) {
            e.preventDefault();
            dropzone_default.processQueue();
        });
        $("#envoieFichierVideo").click(function (e) {
            e.preventDefault();
            dropzone_video.processQueue();
        });
    </script>
{% endblock javascripts %}
