/* COLORS */

$white: #fff;
$grey: #f2f2f2;
$black: #303030;

$red: rgba(198,68,75,1);


/* FONTS */

$font1: 'Montserrat', sans-serif;
$font2: 'Just Another Hand', cursive;

$light: 300;
$regular: 400;
$bold: 500;


