.about{
  .michel{
    background-image: url("img/michel2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .emmanuel{
    background-image: url("img/emmanuel.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .text{
    padding: 20px 150px;
    text-align: center;
  }
  hr{
    width: 20%;
    color: $red;
  }
  .intro-about{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}