/* COLORS */
/* FONTS */
.header-video {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header-video .container {
  position: relative;
  z-index: 2;
}

.header-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .header-video {
    background: url("img/background.jpg") black no-repeat center center scroll;
    background-size: cover;
  }

  .header-video video {
    display: none;
  }
}
.line-1 {
  position: relative;
  top: 50%;
  width: 60px;
  margin: 0 auto;
  border-right: 2px solid rgba(198, 68, 75, 0.75);
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-10%);
  letter-spacing: 5px;
}

.anim-typewriter {
  animation: typewriter 2s steps(20) 1s 1 normal both, blinkTextCursor 700ms steps(20) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* ------------------------------ SECTION HEADER -------------------------------- */
/*


.header{
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 830px;
  margin: auto;
  background-color: rgba(48,48,48,.4);
  background-attachment: fixed;

  video{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 830px;
    margin: auto;
    position: sticky;
  }



  a{
    color: $white;
  }
  .home-btn{
    position: absolute;
    top: 801px;
    background-color: rgba(198,68,75,.7);
    color: $white;
    padding: 10px 25px;
    border: none;
    font-weight: $bold;
    font-size: 25px;
    border-radius: 5px;
    width: 300px;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;



  }
  h1{
    font-size: 50px;
    font-weight: $bold;
    color: $white;
    text-align: center;
  }

}
*/
/* ------------------------------ SECTION QUI SOMMES-NOUS -------------------------------- */
#about {
  margin-top: 50px;
}
#about h2 {
  font-size: 30px !important;
  font-weight: 500 !important;
}
#about p {
  font-size: 25px;
  text-transform: uppercase;
}
#about hr {
  width: 15%;
}
#about .proposition p {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#about .proposition h2 {
  font-size: 28px !important;
  font-weight: 500 !important;
}

/* ------------------------------ SECTION PRESENTATION -------------------------------- */
.img-presentation {
  background-image: url("img/memories.jpg") !important;
  width: 100%;
  height: 100% !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.presentation {
  margin-top: 50px;
  padding: 0;
}
.presentation ion-icon {
  font-size: 80px !important;
}
.presentation .item {
  text-align: center;
}
.presentation .circle {
  padding: 8px;
  background: #fff;
  color: #666;
  text-align: center;
  border: 3px solid #fff;
}
.presentation hr {
  width: 15%;
  background-color: #fff !important;
}
.presentation h2 {
  font-weight: 500;
}
.presentation p {
  font-size: 18px;
}
.presentation .item-none {
  visibility: hidden;
}
.presentation .block1 {
  background-color: #434343;
  color: #fff;
  padding: 30px;
}
.presentation .arrow_box {
  position: relative;
  background: #434343;
  text-align: center;
}
.presentation .arrow_box:after, .presentation .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.presentation .arrow_box:after {
  border-top-color: #434343;
  border-width: 30px;
  margin-left: -30px;
}
.presentation .arrow_box:before {
  border-top-color: #434343;
  border-width: 36px;
  margin-left: -36px;
}
.presentation .block2 {
  align-content: center;
  color: #434343;
  font-weight: bold;
  padding: 30px;
  background-color: transparent;
}
.presentation .block2 hr {
  background: #303030 !important;
}
.presentation .arrow_box-2 {
  position: relative;
  text-align: center;
}
.presentation .arrow_box-2:after, .presentation .arrow_box-2:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.presentation .arrow_box-2:after {
  border-top-color: #fff;
  border-width: 30px;
  margin-left: -30px;
}
.presentation .arrow_box-2:before {
  border-top-color: #fff;
  border-width: 36px;
  margin-left: -36px;
}
.presentation .block3 {
  background-color: #434343;
  color: #fff;
  font-weight: bold;
  padding: 30px;
}

/* ------------------------------ SECTION SERVICES -------------------------------- */
.service {
  padding-top: 80px;
}
.service .flex-services {
  display: flex;
}
.service .flex-services .dropdown-services {
  width: 50%;
}
.service .flex-services .dropdown-services hr {
  width: 100%;
  margin: 0 auto;
  float: left;
}
.service .flex-services .dropdown-services .card p {
  font-size: 15px;
}
.service .flex-services .dropdown-services .card .card-header {
  padding: 0.05rem 1.25rem !important;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px !important;
  background-color: transparent !important;
}
.service .flex-services .dropdown-services .card .card-header .btn-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.service .flex-services .dropdown-services .card .card-header .btn-service h5 {
  font-weight: 500;
  font-size: 20px;
}
.service .flex-services .dropdown-services .card .card-header .btn-service ion-icon {
  font-size: 40px;
  color: #434343;
  transform: rotate(0deg);
  transition: 0.3s transform ease-in-out;
}
.service .flex-services .dropdown-services .card .card-header .btn-service:focus ion-icon {
  transform: rotate(-90deg);
}
.service .flex-services .video-service {
  width: 50%;
  margin: 0 auto;
}
.service .flex-services .video-service .embed-responsive {
  width: 100%;
  margin: 0 auto;
}
.service button {
  text-align: center;
  margin: 0 auto;
  color: #434343;
}
.service button:focus {
  box-shadow: none !important;
}

/* ------------------------------ SECTION FONCTIONNEMENT -------------------------------- */
.fonctionnement {
  padding-top: 80px;
}
.fonctionnement .blocks {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* Clear floats after the columns */
}
.fonctionnement .blocks .block-gris {
  background-color: #f2f2f2;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  padding: 10px;
  align-items: center;
}
.fonctionnement .blocks .block-gris p {
  text-align: center;
}
.fonctionnement .blocks .block-gris ion-icon {
  font-size: 50px;
}
.fonctionnement .blocks .block-gris hr {
  background-color: #434343;
  width: 20%;
  height: 2px;
}
.fonctionnement .blocks .block-gris h3 {
  font-weight: 500;
}
.fonctionnement .blocks .blocks:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------------------ SECTION AVIS -------------------------------- */
.avis .blocks-avis {
  padding: 30px 40px;
  display: flex;
  justify-content: space-around;
}
.avis .blocks-avis .block-avis {
  padding: 35px 40px 0;
  background-image: url("img/quotes.png");
  background-repeat: no-repeat;
  background-size: 70px;
  flex: 4;
}
.avis .blocks-avis .block-avis p {
  font-size: 20px;
  z-index: 10;
}
.avis .blocks-avis .block-avis h4, .avis .blocks-avis .block-avis h6 {
  text-align: right;
}
.avis .blocks-avis .block-avis .nom {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.header-home {
  z-index: 11;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.3s all;
  padding: 15px 30px;
}
.header-home h1 img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.header-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0;
  transition: all 0.25s;
}
.header-ctn .logo-blanc {
  display: block;
  font-family: "Reenie Beanie", cursive;
  color: #fff;
  font-size: 35px;
}
.header-ctn .logo-blanc:hover {
  text-decoration: none;
}
.header-ctn .projet, .header-ctn .links {
  margin-bottom: 0 !important;
}
.header-ctn ul {
  list-style-type: none;
}
.header-ctn ul li {
  display: inline-block;
  padding: 0 10px;
}
.header-ctn ul li a {
  color: #fff;
  font-size: 15px !important;
}
.header-ctn ul li .projet-links {
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
}
.header-ctn .projet {
  display: flex;
  justify-content: center;
  align-items: end;
}
.header-ctn .projet a {
  font-weight: 500;
}

.changeColor {
  background: #f2f2f2;
  transition: 0.3s all;
  box-shadow: 0 0 23px 0 #303030;
}
.changeColor .header-ctn .logo-vert {
  color: #303030;
}
.changeColor .header-ctn li a {
  color: #303030;
}
.changeColor .header-ctn li .projet-links {
  border-color: #303030;
  text-decoration: none;
}
.changeColor .header-ctn li .projet-links:hover {
  color: #fff;
  background-color: #303030;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles pour cette Media Queries */
}
.navbar-tablet {
  background: #f2f2f2;
  transition: 0.3s all;
  box-shadow: 0 0 23px 0 #303030;
}
.navbar-tablet a {
  font-size: 15px;
}
.navbar-tablet .logo-vert {
  background-image: url("img/logo-vert.png");
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
}
.navbar-tablet .projet {
  display: flex;
  justify-content: center;
  align-items: end;
}

footer {
  background-color: #303030;
  padding: 20px 0;
}
footer .row {
  align-items: center;
}
footer p {
  color: #fff;
}
footer hr {
  background-color: #fff !important;
  width: 80% !important;
  text-align: center;
}
footer img {
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  text-align: center;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #fff;
}
footer .list-footer {
  text-align: center;
}
footer .list-footer li {
  display: inline-block;
}
footer .list a {
  color: #fff;
}

.row-mobile .col-sm-12 {
  display: inline-grid !important;
}
.row-mobile a {
  color: #fff !important;
}
.row-mobile a:hover {
  color: #434343 !important;
  text-decoration: none !important;
}

.titre {
  font-weight: 500 !important;
}

/* ------------------------------ TITLE -------------------------------- */
.title {
  text-align: center;
  margin-top: 100px;
}

/* ------------------------------ BLOCK GRIS -------------------------------- */
.block-rouge {
  background-color: #434343;
  color: #fff;
}
.block-rouge .ligne {
  display: flex;
  align-items: center;
  padding: 10px 100px;
}
.block-rouge .chiffre {
  font-size: 30px;
  border: 3px solid #fff;
  border-radius: 100px;
  width: 50px;
  text-align: center;
}
.block-rouge .texte {
  padding-left: 60px;
  font-size: 25px;
}
.block-rouge .ligne-blocks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.block-rouge .ligne-blocks .block-gauche, .block-rouge .ligne-blocks .block-droite {
  border: 3px solid #fff;
  height: 200px;
  justify-content: space-between;
  width: 400px;
}
.block-rouge .ligne-blocks .block-gauche p, .block-rouge .ligne-blocks .block-droite p {
  text-align: center;
  padding: 25px;
  font-size: 15px;
}
.block-rouge .ligne-blocks .block-gauche {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------------------------ BLOCK FORMULAIRE -------------------------------- */
.formulaire {
  margin-bottom: 50px;
  /*.dropzone{
    .btn-drop{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .label-drop{
      height: 200px;
      border: 2px dotted $black;
      width: 100%;
      background-color: $grey;
      display: inline-grid;
      align-items: center;
      justify-content: center;
      cursor: pointer; !* "hand" cursor *!
      &:hover{
          background: rgba(198,68,75,.8);
          color: $white;
        border: 2px dotted $white;
        .icon{
          background-image: url("img/cloud-computing-blanc.png")!important;
          background-repeat: no-repeat;
          background-size: contain;
          width: 5em;
          height: 80px;
          margin: 0 auto;
        }
      }
    }
  }
  .icon{
    background-image: url("img/cloud-computing.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5em;
    height: 80px;
    margin: 0 auto;
  }
  .btn-ajout{
    display: flex;
    align-items: center;
    justify-content: center;

  }*/
}
.formulaire .card-header {
  background: #f2f2f2;
}
.formulaire .card-header:after, .formulaire .card-header:active, .formulaire .card-header:focus, .formulaire .card-header:hover {
  background: #434343 !important;
  color: #fff !important;
}

/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input select {
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  border-color: #434343;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.rouge {
  color: #434343 !important;
  border-color: #434343 !important;
}
.rouge:hover {
  background-color: #434343 !important;
  color: #fff !important;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: white;
  transition: 2s;
  transition-duration: 1s;
}

#myBar2 {
  width: 30%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: white;
  transition: 2s;
  animation-duration: 1s;
  transition-duration: 2s;
}

.tab .ligne {
  display: flex;
  align-items: center;
  padding: 10px 100px;
}
.tab .ligne .chiffre {
  font-size: 30px;
  border: 3px solid #434343;
  border-radius: 100px;
  width: 50px;
  text-align: center;
}
.tab .ligne .text {
  color: #434343 !important;
  font-family: "Just Another Hand", cursive;
}

.projet ion-icon {
  font-size: 40px;
}

.demo-droppable {
  border: 2px dotted #434343;
  color: #434343;
  padding: 65px 0;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer;
}
.demo-droppable ion-icon {
  font-size: 50px;
}
.demo-droppable.dragover {
  background: #434343;
  color: #fff;
}

.fichier {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.genre .form-check {
  display: inline-block !important;
  padding-left: 2.25rem !important;
}

.map {
  padding: 0 !important;
}

.infos {
  padding: 50px 50px !important;
  margin-bottom: 50px;
}
.infos .ligne-info {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0;
}
.infos .ligne-info ion-icon {
  font-size: 35px;
  padding: 0 100px 0 0;
}
.infos .ligne-info h3 {
  font-weight: 500;
  font-size: 20px !important;
}

.contact-form .btn-envoyer {
  padding: 15px 60px;
  font-weight: 300;
  font-size: 25px;
  border-radius: unset;
  margin-top: 15px;
}

body .avis-tablet {
  background: #0F9E5E;
}

.navbar-tablet h1 {
  margin-top: 40% !important;
}

.about .profile {
  background: url("img/profile.png") no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.about .text {
  padding: 20px 150px;
  text-align: center;
}
.about hr {
  width: 20%;
  color: #434343;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.title hr {
  background-color: #c6444b !important;
  width: 15%;
  height: 2px;
}

/* ------------------------------ COMMON -------------------------------- */
section {
  padding: 15px 60px;
}

h2 {
  font-size: 25px !important;
  font-weight: 300 !important;
}

p {
  font-weight: 400 !important;
}

/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #434343;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

/*# sourceMappingURL=app.css.map */
