footer{
  background-color: $black;
  padding: 20px 0;
  .row{
    align-items: center;
  }
  p{
    color: $white;
  }

  hr{
    background-color: $white!important;
    width: 80%!important;
    text-align: center;
  }
  img{
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
  }
  ul{
    list-style-type: none;
    li{
      text-align: center;
      a{
        color: $white;
        &:hover{
          color: $white;
        }
      }
    }
  }
  .list-footer{
    text-align: center;
    li{
      display: inline-block;
    }
  }
  .list{
    a{
      color: $white;
    }
  }
}




.row-mobile{
  .col-sm-12{
    display: inline-grid!important;

  }
  a{
    color: $white!important;
    &:hover{
      color: $red!important;
      text-decoration: none!important;
    }
  }
}