footer{
  background-color: $black;
  padding: 20px 0;
  .row{
    align-items: center;
  }
  hr{
    background-color: $white!important;
    width: 80%!important;
    text-align: center;
  }
  .logo{
    background-image: url("img/logo-vert.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    height: 80px;
    margin: 30px 0;
  }
  ul{
    list-style-type: none;
    li{
      text-align: center;
      a{
        color: $white;
        &:hover{
          color: $red;
          text-decoration: none;
        }
      }
    }
  }
  .list-footer{
    text-align: center;
    li{
      display: inline-block;
    }
  }
  .list{

  }
}



.row-mobile{
  .col-sm-12{
    display: inline-grid!important;

  }
  a{
    color: $white!important;
    &:hover{
      color: $red!important;
      text-decoration: none!important;
    }
  }
}