.header-video {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header-video .container {
  position: relative;
  z-index: 2;
}

.header-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .header-video {
    background: url('img/background.jpg') black no-repeat center center scroll;
    background-size: cover;
  }
  .header-video video {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px){

}

.line-1{
  position: relative;
  top: 50%;
  width: 60px;
  margin: 0 auto;
  border-right: 2px solid rgba(198,68,75,.75);
  font-size: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-10%);
  letter-spacing: 5px;
  font-family: $font5;
}

.anim-typewriter{
  animation: typewriter 2s steps(20) 1s 1 normal both,
  blinkTextCursor 700ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}



/* ------------------------------ SECTION HEADER -------------------------------- */

/*


.header{
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 830px;
  margin: auto;
  background-color: rgba(48,48,48,.4);
  background-attachment: fixed;

  video{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 830px;
    margin: auto;
    position: sticky;
  }



  a{
    color: $white;
  }
  .home-btn{
    position: absolute;
    top: 801px;
    background-color: rgba(198,68,75,.7);
    color: $white;
    padding: 10px 25px;
    border: none;
    font-weight: $bold;
    font-size: 25px;
    border-radius: 5px;
    width: 300px;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;



  }
  h1{
    font-size: 50px;
    font-weight: $bold;
    color: $white;
    text-align: center;
  }

}
*/


/* ------------------------------ SECTION QUI SOMMES-NOUS -------------------------------- */

#about{
  margin-top: 50px;

  h2{
    font-size: 30px!important;
    font-weight: $bold!important;
  }
  p{
    font-size: 25px;
    text-transform: uppercase;
  }
  hr{
    width: 15%;
  }
  .proposition{
    p{
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 2px;

    }
    h2{
      font-size: 28px!important;
      font-weight: $bold!important;

    }
  }
}


/* ------------------------------ SECTION PRESENTATION -------------------------------- */


.img-presentation {
  background-image: url("img/memories.jpg")!important;
  width: 100%;
  height: 100%!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.presentation{
  margin-top: 50px;
  padding: 0;


  ion-icon{
    font-size: 80px!important;
  }
  .item{
    text-align: center;

  }
  .circle {

    padding: 8px;
    background: #fff;
    color: #666;
    text-align: center;
    border: 3px solid $white;
  }
  hr{
    width: 15%;
    background-color: $white!important;

  }
  h2{
    font-weight: $bold;
  }
  p{
    font-size: 18px;
  }
  .item-none{
    visibility: hidden;
  }

  .block1{
    background-color: $red;
    color: $white;
    padding: 30px;

  }
  .arrow_box {
    position: relative;
    background: $red;
    text-align: center;

  }
  .arrow_box:after, .arrow_box:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

  }

  .arrow_box:after {
    border-top-color: $red;
    border-width: 30px;
    margin-left: -30px;
  }
  .arrow_box:before {
    border-top-color: $red;
    border-width: 36px;
    margin-left: -36px;
  }



  .block2{

    align-content: center;
    color: $red;
    font-weight: bold;
    padding:  30px;
    background-color: transparent;

    hr{
      background: $black!important;
    }

  }
  .arrow_box-2 {
    position: relative;
    text-align: center;
  }
  .arrow_box-2:after, .arrow_box-2:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box-2:after {
    border-top-color: $white;
    border-width: 30px;
    margin-left: -30px;
  }
  .arrow_box-2:before {
    border-top-color: $white;
    border-width: 36px;
    margin-left: -36px;
  }
  .block3{

    background-color: $red;
    color: $white;
    font-weight: bold;
    padding:  30px;
  }
}

/* ------------------------------ SECTION SERVICES -------------------------------- */

.service{
  padding-top: 80px;
  .flex-services{
    display: flex;
    .dropdown-services{
      width: 50%;
      hr{
        width: 100%;
        margin: 0 auto;
        float: left;
      }
      .card{
        p{
          font-size: 15px;
        }
        .card-header{
          padding: 0.05rem 1.25rem!important;
          text-decoration: none;
          font-weight: $light;
          font-size: 20px!important;
          background-color: transparent!important;

          .btn-service{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            h5{
              font-weight: $bold;
              font-size: 20px;
            }
            ion-icon{
              font-size: 40px;
              color: $red;
              transform: rotate(0deg);
              transition: .3s transform ease-in-out;
            }
            &:focus{
              ion-icon{
                transform: rotate(-90deg);
              }
            }
          }
        }
        .card-body{
        }
      }
    }
    .video-service{
      width: 50%;
      margin: 0 auto;
      .embed-responsive{
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  button{
    text-align: center;
    margin: 0 auto;
    color: $red;
    &:focus{
      box-shadow: none!important;
    }
  }

}



/* ------------------------------ SECTION FONCTIONNEMENT -------------------------------- */

.fonctionnement {
  padding-top: 80px;

  .blocks {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .block-gris {
      background-color: $grey;
      width: 30%;
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;
      padding: 10px;
      align-items: center;
      p{
        text-align: center;
      }
      ion-icon{
        font-size: 50px;
      }
      hr{
        background-color: $red;
        width: 20%;
        height: 2px;
      }
      h3{
        font-weight: $bold;
      }
    }
    /* Clear floats after the columns */
    .blocks:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}


/* ------------------------------ SECTION AVIS -------------------------------- */

.avis {
  .blocks-avis{
    padding: 30px 40px;
    display: flex;
    justify-content: space-around;
    .block-avis{
      padding: 35px 40px 0;
      background-image: url("img/quotes.png");
      background-repeat: no-repeat;
      background-size: 70px;
      flex: 4;

      p{
        font-size: 20px;
        z-index: 10;
      }
      h4, h6{
        text-align: right;
      }
      .nom{
        font-weight: $bold;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
}





