@import '_vars.scss';


body{
  text-align: center!important;
  overflow-x: hidden;

}

section{
 padding: 15px 15px;
}



/* ------------------------------ NAVBAR -------------------------------- */


.navbar-mobile{
  background: $grey;
  transition: 0.3s all;
  box-shadow: 0 0 23px 0 $black;

  a{
    font-size: 15px;
  }
  .logo-vert {

    color: $black;
    font-size: 20px!important;
    font-family: $font10;

  }
  .projet{
    display: flex;
    justify-content: center;
    align-items: end;

  }

}



/* ------------------------------ SECTION HEADER -------------------------------- */


.header-mobile{


  h1{
    padding-top: 150px;
    color: $black;
    font-size: 50px!important;
    font-family: $font10;

  }


}

/* ------------------------------ SECTION ABOUT -------------------------------- */

#about{
  h2{
    font-size: 28px!important;
  }
  p{
    font-size: 20px!important;
  }
}


/* ------------------------------ SECTION SERVICE -------------------------------- */

.service{
  padding: unset;
  margin-top: 3rem;
  h5{
    color: $red;
  }
  hr{
    width:80%;
  }
  .video-service{

  }
  .services{
    padding: 15px 15px;
  }
}


/* ----------------------------- SECTION FONCTIONNEMENT -------------------------------- */

.fonctionnement{
  padding-top: 30px;
  .blocks{
    display: inline-block;

    .block-gris{
      width: 100%;
    }
  }
}


.avis-mobile{
  .block-avis{
    margin-bottom: 10px;
  }
}


/* ----------------------------- PAGE PROJET -------------------------------- */



.block-rouge{
  text-align: center;
  .ligne{
    padding: 0;
    display: block;
    border-bottom: 1px solid $white;


  }
  .chiffre{
    margin: 0 auto;
    font-size: 40px;
    border: none;
    margin-top: 20px;
  }
  .ligne-blocks{
    display: none;
  }
  .texte{
    padding: 0;

  }

}
.tab{
  h2{
    font-size: 20px!important;
  }
  #projet_client_musiques{
    display: inline-block!important;
  }
}




/* ----------------------------- PAGE CONTACT -------------------------------- */
h1{
  font-size: 30px!important;
}
.infos{
  padding: 30px!important;
  margin-bottom: 20px;

.ligne-mobile{
  display: block!important;
  text-align: center;
  ion-icon{
    padding: 0 0 0 0 !important;
  }
}
}

/* ------------------------------ FOOTER -------------------------------- */

footer{
  
}