@import '_vars.scss';


body{
  text-align: center!important;
  overflow-x: hidden;

}

section{
 padding: 15px 15px;
}

/* ------------------------------ NAVBAR -------------------------------- */


.navbar-mobile{
  background: $grey;
  transition: 0.3s all;
  box-shadow: 0 0 23px 0 $black;

  a{
    font-size: 15px;
  }
  .logo-vert {
    background-image: url("img/logo-vert.png");
    background-repeat: no-repeat;
    background-size: 40px;
    width: 50px;
    height: 45px;
  }
  .projet{
    display: flex;
    justify-content: center;
    align-items: end;
  }

}
.navbar-tablet{
  h1{
    margin-top: 40%!important;
  }
}

/* ------------------------------ SECTION HEADER -------------------------------- */


.header-mobile{
  height: 550px;

  h1{
    padding-top: 285px;
  }
}





/* ------------------------------ SECTION SERVICE -------------------------------- */

.service{
  padding: unset;
  margin-top: 3rem;
  h5{
    color: $red;
  }
  hr{
    width:80%;
  }
  .video-service{

  }
  .services{
    padding: 15px 15px;
  }
}


/* ----------------------------- SECTION FONCTIONNEMENT -------------------------------- */

.fonctionnement{
  padding-top: 30px;
  .blocks{
    display: inline-block;

    .block-gris{
      width: 100%;
    }
  }
}


.avis-mobile{
  .block-avis{
    margin-bottom: 10px;
  }
}


/* ----------------------------- PAGE PROJET -------------------------------- */



.block-rouge{
  text-align: center;
  .ligne{
    padding: 0;
    display: block;
    border-bottom: 1px solid $white;


  }
  .chiffre{
    margin: 0 auto;
    font-size: 40px;
    border: none;
    font-family: $font2;
    margin-top: 20px;
  }
  .ligne-blocks{
    display: none;
  }
  .texte{
    padding: 0;
    font-family: $font1;
    font-size: 20px;

  }
}




/* ----------------------------- PAGE CONTACT -------------------------------- */
h1{
  font-size: 30px!important;
}
.infos{
  padding: 30px!important;
  margin-bottom: 20px;

.ligne-mobile{
  display: block!important;
  text-align: center;
  ion-icon{
    padding: 0 0 0 0 !important;
  }
}
}