.titre{
  font-weight: 500!important;
}


/* ------------------------------ TITLE -------------------------------- */

.title{
  text-align: center;
  margin-top: 100px;
  hr{
    background-color: $red;
    width: 15%;
    height: 2px;
  }
}


/* ------------------------------ BLOCK ROUGE -------------------------------- */

.block-rouge{
  background-color: $red;
  color: $white;
  .ligne{
    display: flex;
    align-items: center;
    padding: 10px 100px;
  }
  .chiffre{
    font-size: 30px;
    border: 3px solid $white;
    border-radius: 100px;
    width: 50px;
    text-align: center;
  }
  .texte{
    padding-left: 60px;
    font-size:25px;
  }
  .ligne-blocks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .block-gauche,.block-droite{
      border: 3px solid $white;
      height: 200px;
      justify-content: space-between;
      width: 400px;
      p{
        text-align: center;
        padding: 25px;
        font-size: 15px;
      }
    }
    .block-gauche{
      background-image: url("img/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}



/* ------------------------------ BLOCK FORMULAIRE -------------------------------- */


.formulaire{
  margin-bottom: 50px;
  /*.dropzone{
    .btn-drop{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .label-drop{
      height: 200px;
      border: 2px dotted $black;
      width: 100%;
      background-color: $grey;
      display: inline-grid;
      align-items: center;
      justify-content: center;
      cursor: pointer; !* "hand" cursor *!
      &:hover{
          background: rgba(198,68,75,.8);
          color: $white;
        border: 2px dotted $white;
        .icon{
          background-image: url("img/cloud-computing-blanc.png")!important;
          background-repeat: no-repeat;
          background-size: contain;
          width: 5em;
          height: 80px;
          margin: 0 auto;
        }
      }
    }
  }
  .icon{
    background-image: url("img/cloud-computing.png")!important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5em;
    height: 80px;
    margin: 0 auto;
  }
  .btn-ajout{
    display: flex;
    align-items: center;
    justify-content: center;

  }*/
  .card-header{
background: $grey;

    &:after,&:active,&:focus,&:hover{
      background: $red!important;
      color: $white!important;
    }
  }
}



/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;


}

/* Style the input fields */
input select{
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  border-color: $red;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}



.rouge{
  color: $red!important;
  border-color: $red!important;
  &:hover{
    background-color: $red!important;
    color: $white!important;
  }
}


#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  transition: 2s;
  transition-duration: 1s;
}
#myBar2 {
  width: 30%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  transition: 2s;
  animation-duration: 1s;
  transition-duration: 2s;
}


.tab{
  .ligne{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    .chiffre{
      font-size: 30px;
      border: 3px solid $red;
      border-radius: 100px;
      width: 50px;
      text-align: center;
    }
    .text{
      color: $red!important;
      font-family: $font2;
    }
  }
}




.projet{
ion-icon{
  font-size: 40px;
}
}

.demo-droppable {
  border: 2px dotted $red;
  color: $red;
  padding: 65px 0;
  text-align: center;
  background-color: $grey;
  cursor: pointer;

  ion-icon{
    font-size: 50px;
  }
  &:hover{

  }
}
.demo-droppable.dragover {
  background: $red;
  color: $white;
}
.fichier{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
 }

.genre{
  .form-check{
    display: inline-block!important;
    padding-left: 2.25rem!important;
  }
}