{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Im Memoriae - Votre Projet
    {% endspaceless %}
{% endblock %}
{% block seoDescription %}
    {% spaceless %}
        Votre film hommage commence ici
    {% endspaceless %}
{% endblock %}

{% block body %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h2>MERCI {{ infos.prenomClient }} {{ infos.nomClient }} !</h2>
                <h5>Votre film hommage est en cours de réalisation  !</h5>
                <h5>Vous allez recevoir un mail de confirmation à ladresse suivante : {{ infos.emailClient }}.</h5>
                <hr>
                <p>Nous nous engageons à vous envoyer votre film hommage sous 48h.</p>
                <a class="btn btn-outline-success" href="{{ path('home') }}">RETOUR À L'ACCUEIL</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}