{% extends 'base.html.twig' %}

{% block seoTitle %}
    {% spaceless %}
        In Memoriae - Qui sommes-nous ?
    {% endspaceless %}
{% endblock %}

{% block seoDescription %}
    {% spaceless %}
       Qui sommes-nous ?
    {% endspaceless %}
{% endblock %}

{% block body %}


    <section class="title">

        <h1>QUI SOMMES-NOUS ?</h1>
        <hr>
        <h2>Votre film hommage de qualité professionnelle</h2>

    </section>

    <section class="about">
        <div class="row mt-5 m-5">
            <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam culpa cupiditate dolorum eaque esse laudantium libero nemo odit, perspiciatis quae quas quibusdam, repudiandae similique sit, veniam voluptate voluptates? Dolorum eaque esse laudantium libero nemo odit, perspiciatis quae quas quibusdam, repudiandae similique sit, veniam voluptate voluptates?</div>
            <div class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut blanditiis eius, eos esse ex excepturi illo laborum, magni molestiae nesciunt optio perferendis quasi quos rem, repellat repudiandae tempora ullam!</div>
        </div>
        <div class="row mt-5">

            <div class="col-6">
                <div class="profile text-center">

                </div>
                <div class="text">
                    <h3>Michel Floquet</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at beatae culpa odio officiis, possimus provident repellat reprehenderit saepe sit. Consectetur ea earum eligendi error in, mollitia reiciendis repellendus reprehenderit.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="profile text-center">

                </div>
                <div class="text">
                    <h3>Emmanuel Ostian</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at beatae culpa odio officiis, possimus provident repellat reprehenderit saepe sit. Consectetur ea earum eligendi error in, mollitia reiciendis repellendus reprehenderit.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}