{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}

{% block body %}

    <section class="title">
        <h1>Conditions générales de vente</h1>
        <hr>
        <h2>In Memoriae</h2>
    </section>

    <div class="container mt-5">
        <div class="row">
            <p>La société « Inoubliables » (ci-après la Société) propose sous la marque « In Memoriae » les services suivants : réalisation de films hommages en mémoire des défunts.</p>
<p>La société invite les utilisateurs à lire les présentes conditions de vente et d’utilisation (ci-après CGV-CGU). Les CGV-CGU s’appliquent à tous les services fournis par la Société.</p>
<p>Les utilisateurs garantissent et déclarent sur l’honneur que toutes les informations communiquées sur le site sont exactes et conformes à la réalité.</p>
<p>Les services faisant l’objet des CGV-CGU sont ceux figurant sur le site et qui sont proposés directement par la Société ou ses partenaires. Les services sont décrits sur la page correspondante au sein du site et mention est faite de toutes leurs caractéristiques essentielles. La Société se réserve à tout moment la possibilité de modifier ses tarifs. Elle s’engage à facturer les prestations au tarif applicable au moment de la commande. Pour les prestations dont le prix ne peut être connu avec certitude au moment de la commande un devis sera transmis au client.</p>
<p>L’enregistrement d’une commande est réalisé lorsque le client accepte les CGV-CGU en cochant la case prévue à cet effet et valide sa commande. La finalisation de la commande implique le paiement sur le site ou auprès de nos partenaires et l’acceptation des modalités de réalisation telles qu’indiquées sur le site et dans les CGV-CGU.</p>
<p>Les films hommages sont réalisés à partir des éléments, sons et images animées ou fixes, fournis par le client. La Société s’engage à fournir au client sous 48h à compter de la réception des éléments, le film hommage. La société n’est en aucun cas responsable de l’usage qui sera fait de ce film par le client. C’est au client, en fonction de l’usage qu’il fera de ce film, de s’assurer du respect du droit à l’image des personnes figurant dans le film hommage. La Société se réserve le droit de ne pas donner suite au projet de film hommage si tout ou partie des éléments fournis par le client sont diffamatoires, injurieux ou portent préjudice de quelque manière que ce soit à un tiers.</p>
<p>La Société s’engage, sitôt qu’elle en est informée par le client, à corriger les erreurs factuelles qui pourraient figurer dans le film. Une erreur factuelle est une erreur sur un nom propre, un nom de lieu ou une date. En revanche la Société monte à partir des éléments fournis par le client un film d’une durée précisée sur le site. Pour cela elle effectue des choix, à partir des éléments fournis, selon des critères professionnels. En aucun cas ces choix, qui constituent la réalisation même du film, ne peuvent être sujet à modification à la demande du client.</p>
<p>Compte tenu des délais extrêmement courts entre la commande et la fourniture, il n’y a pas de délai de rétractation et toute commande est réputée définitive.</p>
<p>L’utilisation du site entraine le traitement de données personnelles. Il se fait dans le respect du Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016.</p>
<p>La marque, le logo et la charte graphique du présent site sont des marques déposées auprès de l’INPI et des œuvres protégées au titre de la propriété intellectuelle dont la propriété revient exclusivement à la Société. Toute diffusion, exploitation, représentation, reproduction qu’elle soit partielle ou intégrale sans l’autorisation expresse de ladite Société exposera le contrevenant à des poursuites civiles et pénales.</p>
<p>Le droit régissant les CGV-CGU est le droit français. Le client est informé qu’il peut recourir en cas de litige, à une médiation conventionnelle auprès de la Commission de la médiation de la Consommation  prévue à l’article L534-7 du code de la consommation.</p>
        </div>
    </div>

{% endblock %}