{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}

{% block body %}

    <section class="title">
        <h1>Conditions générales de vente</h1>
        <hr>
        <h2>Lorem ipsum dolor sit amet</h2>
    </section>

    <div class="container">

    </div>

{% endblock %}