{% extends 'base.html.twig' %}

{% block seoTitle %}
    {% spaceless %}
       Mémoriam
    {% endspaceless %}
{% endblock %}


{% block javascripts %}
         {{ parent() }}
        {{ encore_entry_script_tags('navbar') }}
{% endblock %}
{% block body %}


    <section class="header mb-5 {% if is_mobile() == true  and is_tablet() == false %} header-mobile {% elseif is_tablet() %}header-tablet{% else %}{% endif %}">
        <h1 class="{% if is_mobile() == true  and is_tablet() == false %} {% elseif is_tablet() %}{% else %}line-1 anim-typewriter{% endif %}">MÉMORIAM</h1>
            {% if is_mobile() == false  and is_tablet() == false %}
  {#              <video loop muted autoplay playsinline poster="https://media.giphy.com/media/26Ff43GwoaAks9XgY/giphy.gif">
                    <source src="https://multicdn.synq.fm/blog/videos/background.mp4" type="video/mp4"  />
                </video>
   #}

            {% endif %}
    </section>
<div class="container" id="presentation">
    <div class="row">
        <div class="col-6">
            <div class="img-presentation">

            </div>

        </div>
        <div class=" col-6 6p-lg-5 p-md-5" >
            <h2 class="mt-5">NOTRE PROPOSITION</h2>
            <p> A partir de vos photos / vidéos souvenirs et, si vous le souhaitez, vos témoignages videos, nous réalisons un <strong>film hommage de qualité professionelle </strong> du défunt </p>
            <div class="engagement mt-5">
                <h2>NOTRE ENGAGEMENT :</h2>
                <p>Votre vidéo disponible en <strong>48h maximum.</strong> Disponible pour la cérémonie, les proches, tous ceux qui n'ont pas pu se déplacer, les sites mémoriels ou les réseaux sociaux</p>
                <p>Un hommage de qualité professionel</p>
            </div>
        </div>
    </div>
</div>


        <section class="presentation">
            <div class="block1 arrow_box">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="item">
                            <ion-icon name="images"></ion-icon>
                            <h2>PHOTOS</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="item">
                            <ion-icon name="film"></ion-icon>
                            <h2>VIDÉOS</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="item">
                            <ion-icon name="videocam"></ion-icon>
                            <h2>TÉMOIGNAGE</h2>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <p class="col-12 text-center ">Selectionnez les fichiers photos et vidéos que vous souhaitez utiliser</p>
                </div>
            </div>

            <div class="block2 arrow_box-2">
                <br>
                <div class="row">

                    <div class="col-12 text-center">
                        <div class="item">
                            <ion-icon name="cog"></ion-icon>
                            <h2>MEMORIAM</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <br>
                    <p class="col-12 text-center ">Mémoriam réalise avec des <strong>moyens professionels</strong> le film en hommage au défunt.</p>
                </div>
            </div>

            <div class="block3">
                <br>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="item-">
                            <ion-icon name="desktop"></ion-icon>
                            <h2>FILM HOMMAGE À VOTRE DISPOSITION</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <p class="col-12 text-center ">Vous recevez votre film hommage <strong>en 48h maximum</strong> par internet.</p>
                </div>
            </div>

        </section>

    <section class="service" id="service">
        <h2 class="">2 POSSIBILITÉS</h2>
        {% if is_mobile() == true  and is_tablet() == false %}
            <div class="video-service">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vcFpNlX-qnU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>
            </div>
        <div class="services">

            <h5> 30 photos / 3 vidéos <br>(Environ 5min)</h5>
            <p>Un film hommage d'environ 5min, composé de maximum 30 photos, 3 vidéos (vidéos souvenirs et/ou témoignages vidéos) </p>
            <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour une taille maximum de 20Mo au format MP4</i></p>
            <p><strong>Tarif : 480€ TTC</strong></p>
            <hr>
            <h5> 50 photos / 5 vidéos<br>(Environ 8min)</h5>
            <p>Un film hommage d'environ 5min, composé de maximum 50 photos, 5 vidéos (vidéos souvenirs et/ou témoignages vidéos)</p>
            <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour taille une maximum de 20Mo au format MP4</i></p>
            <p><strong>Tarif : 600€ TTC</strong></p>
            <hr>
            <h5>Sur mesure <br> Sans limitation de temps</h5>
            <p>Réalisation d'un film hommage entèrement personalisable, sans limitation de temps et de fichiers. Envoi d'une équipe professionnelle pour receuillir vos témoignages, filmer la cérémonie etc ...</p>
            <p><strong>Tarif : Sur devis</strong></p>
            <hr>
        </div>

        {% elseif is_tablet() %}
            <div class="video-service">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vcFpNlX-qnU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>
            </div>
            <div class="services">
                <h5>30 photos / 3 vidéos (Environ 5min)</h5>
                <p>Un film hommage d'environ 5min, composé de maximum 30 photos, 3 vidéos (vidéos souvenirs et/ou témoignages vidéos) </p>
                <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour une taille maximum de 20Mo au format MP4</i></p>
                <p><strong>Tarif : 480€</strong></p>
                <hr>
                <h5>50 photos / 5 vidéos (Environ 8min)</h5>
                <p>Un film hommage d'environ 5min, composé de maximum 50 photos, 5 vidéos (vidéos souvenirs et/ou témoignages vidéos)</p>
                <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour taille une maximum de 20Mo au format MP4</i></p>
                <p><strong>Tarif : 600€ TTC</strong></p>
                <hr>
                <h5>Sur mesure. Sans limitation de temps</h5>
                <p>Réalisation d'un film hommage entèrement personalisable, sans limitation de temps et de fichiers. Envoi d'une équipe professionnelle pour receuillir vos témoignages, filmer la cérémonie etc ...</p>
                <p><strong>Tarif : Sur devis</strong></p>
                <hr>
            </div>


        {% else %}
            <div class="flex-services">
                <div class="dropdown-services">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <button class="btn btn-service collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0  btn-title">VOTRE FILM HOMMAGE</h5>
                                    <ion-icon name="arrow-dropdown"></ion-icon>
                                </button>

                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <h5>30 photos / 3 vidéos - Environ 5min</h5>
                                    <p>Un film hommage d'environ 5min, composé de maximum 30 photos, 3 vidéos (vidéos souvenirs et/ou témoignages vidéos) </p>
                                    <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour une taille maximum de 20Mo au format MP4</i></p>
                                    <p><strong>Tarif : 480€</strong></p>
                                    <a class="" href="">CHOISIR CE FORFAIT</a>

                                    <p class="mt-3" style="font-size: 13px"><i>Vous préférez la réalisation d'un film hommage entèrement personalisable, sans limitation de temps et de fichiers et avec l'envoi d'une équipe professionnelle pour receuillir vos témoignages, filmer la cérémonie etc ... ? </i>
                                        <br>
                                        <a href="{{ path('contact') }}"> Contactez-nous</a> pour plus d'informations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <hr>
                                <button class="btn btn-service" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0  btn-title">VOTRE FILM HOMMAGE GRAND FORMAT</h5>
                                    <ion-icon name="arrow-dropdown"></ion-icon>
                                </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <h5>50 photos / 5 vidéos - Environ 8min</h5>
                                    <p>Un film hommage d'environ 5min, composé de maximum 50 photos, 5 vidéos (vidéos souvenirs et/ou témoignages vidéos)</p>
                                    <p><i>Les fihciers vidéos envoyés ne doivent pas exeder 10min, pour taille une maximum de 20Mo au format MP4</i></p>
                                    <p><strong>Tarif : 600€ TTC</strong></p>
                                    <button class="btn btn-outline-danger text-center col-12">CHOISIR CE FORFAIT</button>
                                    <p class="mt-3" style="font-size: 13px"><i>Vous préférez la réalisation d'un film hommage entèrement personalisable, sans limitation de temps et de fichiers et avec l'envoi d'une équipe professionnelle pour receuillir vos témoignages, filmer la cérémonie etc ... ? </i>
                                        <br>
                                        <a href="{{ path('contact') }}"> Contactez-nous</a> pour plus d'informations.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="video-service">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vcFpNlX-qnU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

    {% endif %}
    </section>
    {#
    <section class="fonctionnement" id="fonctionnement">

        <h2>COMMENT FONCTIONNE MÉMORIAM</h2>

        <div class="row blocks">
            <div class="block-gris hvr-overline-from-center ">
                <br>
                <h3>Étape 1</h3>
                <hr>
                <p>Vous accedez au formulaire d'envoi des fichiers photos/vidéos.
                </p>
            </div>
            <div class="block-gris hvr-overline-from-center">
                <br>
                <h3>Étape 2</h3>
                <hr>
                <p>Vous remplissez toutes les informations necessaires à la réalisation de la vidéo.
                </p>
            </div>
            <div class="block-gris hvr-overline-from-center">
                <br>
                <h3>Étape 3</h3>
                <hr>
                <p>Une fois les informations du défunt saisies, vous pouvez ajouter un par un les fichiers que vous souhaitez.
                </p>
            </div>
            <div class="block-gris hvr-overline-from-center">
                <br>
                <h3>Étape 4</h3>
                <hr>
                <p>Pour chaque fichier ajouté, vous pouvez saisir une courte description ou ajouter des mots cles.
                </p>
            </div>
            <div class="block-gris hvr-overline-from-center">
                <br>
                <h3>Étape 5</h3>
                <hr>
                <p>Vous vérifiez les informations saisies avant de valider le formulaire.
                </p>
            </div>
            <div class="block-gris hvr-overline-from-center">
                <br>
                <ion-icon name="desktop"></ion-icon>
                <hr>
                <p>Vous recevez par mail votre vidéo finale et le lien de la vidéo publiée sur YouTube (en privé).
                </p>
            </div>

        </div>
    </section>
    #}



    <section class="{% if is_mobile() == true  and is_tablet() == false %} avis-mobile {% elseif is_tablet() %} avis {% else %} avis{% endif %}" >

        <h2>NOS CLIENTS EN PARLENT...</h2>
        <div class="row blocks-avis">
            <div class=" block-avis">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores ea enim, facilis fuga...</p>
                <h4 class="nom">Jeanne durand</h4>
                <h6>24/04/2019</h6>
            </div>
            <div class=" block-avis">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores ea enim, facilis fuga...</p>
                <h4 class="nom">Jeanne durand</h4>
                <h6>24/04/2019</h6>
            </div>
            <div class=" block-avis">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae dolores ea enim, facilis fuga...</p>
                <h4 class="nom">Jeanne durand</h4>
                <h6>24/04/2019</h6>
            </div>
        </div>

    </section>



{% endblock %}


