{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}

{% block body %}

    <section class="title">
        <h1>Metions légales</h1>
        <hr>
    </section>

    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h2><strong>EDITEUR DU SITE</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-sm-center text-lg-left">
                <p>Mémoriam</p>
                <p>5006 Route de Pichelèbe 40560 Vielle Saint Girons</p>
                <p>Tel : 05 58 49 11 11</p>
                <p>Email : contact@arna.com</p>
                <p>RCS : 307 584 045 RCS Dax</p>
                <p>CODE NAF: 5530Z</p>
                <p>SIRET : 30758404500016</p>
            </div>
        </div>
        <div class="row mt-3">
            <h2><strong>CONCEPTION, DÉVELOPPEMENT ET HÉBERGEMENT :</strong></h2>
        </div>
        <div class="row">
            <div class="col-12 text-sm-center text-lg-left">
                <p>WIBZ</p>
                <p>82 rue PEYDAVANT,</p>
                <p> 33400, TALENCE </p>
                <p>Auto-entrepreneur </p>
                <p>Support technique : </p>
                <p>Email : maximerle@gmail.com </p>
                <p>Tél : 0777867283</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h2><strong>INFORMATIONS LÉGALES:</strong> </h2>
                <p>L’ensemble de ce site relève de la législation française sur le droit d’auteur et la propriété intellectuelle. En application de la loi du 11 mars 1957 (art.41) et du code de la propriété intellectuelle du 1er juillet 1992, toute reproduction partielle ou totale de ce site à usage collectif est strictement interdite sans autorisation préalable expresse du Domaine Naturiste ARNAOUTCHOT et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la Propriété intellectuelle.

                    Les éléments figurant au sein du présent site, tels que logos, sons, images, photographies, vidéos, écrits, animations, programmes, charte graphique, utilitaires, bases de données, logiciel, sont la propriété de leur détenteur respectif et sont protégés par les dispositions du Code de la propriété intellectuelle. L’utilisateur s’interdit de porter atteinte aux droits de propriété intellectuelle afférents à ces éléments et notamment de les reproduire, représenter, modifier, adapter, traduire, d’en extraire et/ou réutiliser une partie qualitativement ou quantitativement substantielle et ce par quelque procédé que ce soit.

                    Conformément à l’article 34 de la Loi n°78-17 Informatique et Liberté du 06/01/1978, modifiée en 2004 et amendée le 18 août 2018 par la loi RGPD, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Pour exercer ce droit, adresser vous par écrit ou par email à l’éditeur cité ci-dessus.</p>

                <h2>FORMULAIRES</h2>

                <p>Les informations recueillies par le biais des formulaires ne seront pas divulguées à des personnes autres que celles de notre établissement et à nos prestataires de services.Certaines des informations de ces formulaires sont facultatives, d'autres obligatoires et clairement indiquées comme telles afin que vos réponses soient suffisantes pour nous permettre de traiter l'information.</p>

                <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>

               <p>Nous prendrons toutes les mesures que nous jugeons raisonnablement nécessaires pour garantir que vos informations sont traitées de manière sécurisée et conformément à la politique de confidentialité et au traitement des cookies. Notre établissement ainsi que nos prestataires de services (logiciel de réservation, établissements bancaires, France 4 Naturisme, etc.) utilisons vos données dans un but commun de traiter votre dossier. En aucun cas vos données personnelles seront transmises à d’autres tiers.
                   Conformément à l’article 34 de la Loi n°78-17 Informatique et Liberté du 06/01/1978, modifiée en 2004 et amendée le 18 août 2018 par la loi RGPD, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Pour exercer ce droit, adresser vous par écrit ou par email à l’éditeur cité ci-dessus.</p>
                <br><br>
            </div>

        </div>
    </div>

{% endblock %}