{% extends 'base.html.twig' %}
{% block seoTitle %}
    {% spaceless %}
        Votre Projet
    {% endspaceless %}
{% endblock %}


{% block body %}


    <section class="title">
        <h1>Votre Projet</h1>
        <hr>
        <h2>Lorem ipsum dolor sit amet</h2>

    </section>

    <section class="block-rouge">
        <div class="ligne">
            <p class="chiffre">1</p>
            <p class="texte">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">2</p>
            <p class="texte">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="ligne ligne-blocks">
            <div class="block-gauche"></div>
            <div class="block-droite">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum dicta eius expedita harum hic impedit incidunt, iusto, odit, officia optio pariatur provident quisquam quos ullam? Cumque doloremque eligendi et?</p>
            </div>
        </div>
        <div class="ligne">
            <p class="chiffre">3</p>
            <p class="texte">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="ligne">
            <p class="chiffre">4</p>
            <p class="texte">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </section>


    <div class="container">
        <section class="formulaire">
            <h2 class="titre">INFORMATIONS</h2>



            {{ form_end(form) }}


            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </section>
    </div>



{% endblock %}

